.chekboxerror {
	color: red;
	font-size: 2.3rem;
	font-weight: bold;
	position: absolute;
	left: 68%;
	bottom: 20%;
}
.info__div__container {
	width: 100%;
	height: 80%;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 25% 25% 40% 10%;
	padding: 0 8% 0 8%;
	gap: 2rem;
}
.info__input__wrap {
	position: relative;
	width: 80%;
	height: 5rem;
	line-height: 5rem;
	align-self: end;
}
.cupon__input__label,
.info__input__label {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	color: var(--color-main);
	transition: 0.2s all;
	cursor: text;
	font-size: 2.2rem;
}
.cupon__input,
.info__input {
	width: 100%;
	border: 0;
	outline: 0;
	padding: 0.5rem 0;
	border-bottom: 4px solid #000033;
	box-shadow: none;
	color: #000033;
}
.cupon__input:invalid,
.info__input:invalid {
	outline: 0;
}
.cupon__input:valid,
.cupon__input:focus {
	border-color: var(--color-main);
}

.cupon__input:valid ~ label,
.cupon__input:focus ~ label,
.info__input:valid ~ label,
.info__input:focus ~ label {
	font-size: 2.7rem;
	top: -34px;
	color: var(--color-main);
}

.info__bottom__message {
	position: absolute;
	bottom: 4%;
	left: 7%;
	font-size: 2rem;
	color: var(--color-main);
}
.description__div {
	position: absolute;
	right: 16%;
	bottom: 17%;
	width: 34%;
	overflow-y: auto;
	height: 27%;
	border: 5px solid var(--color-main);
	overflow-y: auto;
	padding: 1%;
	display: flex;
	align-items: flex-start;
}
.description__text {
	color: var(--color-main);
	font-size: 4.4rem;
	font-family: 'Charm', cursive;
	font-weight: bold;
	width: 100%;
	word-wrap: break-word;
	margin-bottom: 15rem;
}
.userfields__error {
	font-size: 1.7rem;
	color: red;
	width: 100%;
	text-align: center;
	font-weight: bold;
}
