.salute {
	width: 100%;
	padding: 0 4% 0 4%;
	color: var(--color-main);
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	font-size: 5rem;
	letter-spacing: 0.6rem;
	text-align: center;
}
