.container {
	width: 100%;
	height: 80%;
	top: 20%;
	left: 0;
	position: absolute;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 60% 40%;
	padding: 0 4% 0 4%;
	align-content: center;
	justify-content: center;
	grid-column-gap: 25px;

	&__top {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: repeat(3, 1fr);
	}

	&__bottom {
		display: grid;
		grid-template-columns: 60% 40%;
		.price__wrap {
			display: flex;
			flex-direction: column;
			justify-content: flex-end;

			.total {
				font-size: 3.5rem;
				display: flex;
				align-items: flex-end;
				font-weight: bold;
				letter-spacing: 0.3rem;
				color: var(--color-main);
				position: relative;
				bottom: 2%;
			}
			.discount {
				font-size: 2.2rem;
				font-weight: bold;
				letter-spacing: 0.3rem;
				color: #006600;
			}
			.total__if__diskount {
				font-size: 2.2rem;
				letter-spacing: 0.3rem;
				font-weight: bold;
				color: var(--color-main);
			}
		}
	}
	.checkboxes__container {
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;

		.checkboxex__text {
			font-size: 1.7rem;
			width: 100%;
			text-align: center;
		}
	}
}

.checkbox__input {
	padding: 0;
	height: initial;
	width: initial;
	margin-bottom: 0;
	display: none;
	cursor: pointer;
}
.checkbox__label {
	position: relative;
	cursor: pointer;
}

.checkbox__label:before {
	content: '';
	-webkit-appearance: none;
	background-color: transparent;
	border: 4px solid #080809;
	box-shadow: 0 1px 2px rgba(2, 2, 2, 0.05),
		inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
	padding: 10px;
	display: inline-block;
	position: relative;
	vertical-align: middle;
	cursor: pointer;
	margin-right: 5px;
}

.checkbox__input:checked ~ label::after {
	content: '';
	display: block;
	position: absolute;
	top: 2px;
	left: 9px;
	width: 10px;
	height: 18px;
	border: solid #006600;
	border-width: 0 4px 5px 0;
	transform: rotate(45deg);
}
.chekboxerror {
	color: red;
	font-size: 2.3rem;
	font-weight: bold;
	position: absolute;
	left: 68%;
	bottom: 20%;
}
.cupon__input__wrap {
	position: absolute;
	width: 20%;
	height: 5rem;
	line-height: 5rem;
	bottom: 2%;
	left: 42%;
}
